body {
    z-index: 1;
    background-image: url('../images/rockywall.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 { font-size:ms(7) }
h2 {
    font-size:ms(5);
    border-bottom: 1px dotted $mainColor;
}
h3 { font-size:ms(4) }
h4 { font-size:ms(3) }
h5 { font-size:ms(2) }
h6 { font-size:ms(1) }

ul {
    list-style-position: inside;
    list-style-type: none;
    margin-left:0;
    padding-left: 1em;
    text-indent: -1em;
    li:before {
        content:"\00BB \0020";
    }
    &.side-nav, &.link-list {
        list-style: none inside none;
        text-indent:0;
        li {
            &:before { content:"" }
            a {
                display: inline;
            }
        }
    }
}

blockquote p {
    color: lighten($txtColor, 30%);
}

.panel {
    background: rgba(lighten($tertiaryColor, 10%), 0.5);
    @include border-radius(5px);
}

header {
    ul.nav {
        list-style-type: none;
        height:40px;
        padding-top:20px;
        li {
            display: block;
            float: left;
            text-transform: uppercase;
            font-weight: bold;
            &:before {
                content:"< ";
            }
            &:after {
                content:" />";
            }
            a {
                color:$txtColor;
            }
        }
    }

    .brand {
        z-index:10;
        position: relative;
        top:-50px;
    }
}

#content-wrapper {
    position:relative;
    top:-150px;

    div[role="content"] {
        background: rgba(#fff, 0.4);
        @include border-radius(15px);
    }
}

#footer-wrapper {
    //position:relative;
    //top:-100px;
    background:$txtColor;
    @include box-shadow($txtColor -5px 0 10px);
    color:#fff;
    padding-top:30px;
    min-height:100px;

    footer {
        * {
            font-size: 14px;
        }
    }
}
